{% extends 'shopping/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <li class="btn btn-default"><a href="{% url 'shopping:category_new' %}">새로운 카테고리 만들기</a></li>
        {% for category in category_list %}
        <div class="col-sm-12">
            <a href="{% url 'shopping:category_detail' category.pk %}">
                <h1>{{category.name}}
                    <li class="btn btn-default">
                        <a href="{% url 'shopping:shop_new' category.pk %}">새로운 가게 만들기</a>
                    </li>
                    <li class="btn btn-default">
                        <a href="{% url 'shopping:category_edit' category.pk %}">카테고리 수정하기</a>
                    </li>
                    <li class="btn btn-default">
                        <a href="{% url 'shopping:category_delete' category.pk %}">카테고리 삭제하기</a>
                    </li>
                </h1>
            </a>
            <div class="col-sm-12">
                {% for shop in category.shop_set.all %}
                <div class="col-sm-4 caption">
                    <a href="{% url 'shopping:shop_detail' category.pk shop.pk %}">
                    <h3>{{shop.name}}</h3>
                    <img src='{{shop.image1.url}}' style="max-width: 100%;"/>
                    </a>
                </div>
                {% endfor %}
            </div>
            <hr/>
        </div>
        {% endfor %}
        <h2>최근 리뷰 목록</h2>
        {% for review in review_list %}
            <h5>
            {{review.message}} by {{review.user}} |
            {{review.created_at}}
            </h5>
        {% endfor %}

    </div>
{% endblock %}