{% extends 'shopping/base.html' %}
{% load bootstrap3 %}

{% block content %}
<h1>{{shop.name}}</h1>
<h3>전화번호 : {{shop.phone}} 주소 : {{shop.address}}</h3>
<hr/>
<h6>{{shop.intro}}</h6>
<div class="col-sm-12">
    <div class="col-sm-4">
    <img src="{{shop.image1.url}}" style="max-width: 100%;"/>
    </div>
    <div class="col-sm-4">
    <img src="{{shop.image2.url}}" style="max-width: 100%;"/>
    </div>
    <div class="col-sm-4">
    <img src="{{shop.image3.url}}" style="max-width: 100%;"/>
    </div>
</div>

<hr/>
<li class="btn btn-default"><a href="{% url 'shopping:review_new' category.pk shop.pk %}">댓글 쓰기<a></li>
<ul>
{% for review in shop.review_set.all %}
    <li>
        <img src="{{review.image.url}}"/>
        {{review.message}}
        by {{review.user}}
        {{review.created_at}}
        <a href="{% url 'shopping:review_edit' category.pk shop.pk review.pk %}">수정</a>
        <a href="{% url 'shopping:review_delete' category.pk shop.pk review.pk %}">삭제</a>
    </li>
{% endfor %}
</ul>
{% endblock %}